
h1{
    border: solid 3px cornflowerblue ;
    width: 500px;
    border-radius: 25px;
    box-shadow: cornflowerblue 4px 4px  4px 4px;
    color: darkblue;
    background: darkgrey;
    text-align: center;
   margin:auto;
    vertical-align:middle;

}
img{
    margin: 20px 50px;
    border-radius: 25px;
width: 600px;
height: auto;
position: relative;
}
h2{
    position: absolute;
    top:300px ;
    left: 700px;
    width: 300px;
    height: auto;
    padding: 5% 3%;
    border:solid 3px darkgrey;
    border-radius: 25px;
    text-align: center;
    box-shadow: darkgrey 4px 4px  4px 4px;

}
h4{
    border:thick double darkgrey;
    margin: 0% 3%;
    padding: 2% 2%;
     text-align: justify;
  text-justify: inter-word;
  border-radius: 25px;
  font-size: 15px;
  font-weight: normal;
}

    .button {
        margin:3% 50% 3%;
  
       
 
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #999;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #e45529}

.button:active {
  background-color: #646864;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
